{% extends 'blog/base_blog.html' %}

{% block title %}
Тэги - {{ block.super }}
{% endblock %}

{% block content %}
<h1 class="mt-5">Тэги:</h1>

{% for tag in tags %}
<h4 class="d-inline">
  <a href="{{ tag.get_absolute_url }}"class="px-2">{{ tag.title }}</a>
</h4>
{% endfor %}

<div class="row">
  <div class="col-6 mt-5">
    <a href="{% url 'posts_list_url' %}"
       type="submuit"
       class="btn text-white"
       style="background-color: #37474f">
       Вернуться
     </a>
  </div>
</div>

{% endblock %}
